<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hsy.word_reader">


   <application>
       <service
           android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
           android:label="dexopt"
           android:process=":dexopt" >
       </service>


       <provider
           android:name="com.tencent.smtt.utils.FileProvider"
           android:authorities="${applicationId}.provider"
           android:exported="false"
           android:grantUriPermissions="true">
           <meta-data
               android:name="android.support.FILE_PROVIDER_PATHS"
               android:resource="@xml/x5webview_file_paths" />
       </provider>
   </application>
</manifest>